.container {
  max-width: 1280px;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

@media (max-width: 1439px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0px;
  }
}
