.content {
  position: relative;
  background: url('/images/bg/bgPromoBanner.webp') center/cover no-repeat;
  padding: 112px 0px;
}

.content::before {
  content: '';
  position: absolute;
  inset: 0;

  background: linear-gradient(150deg, #262626 30%, rgba(38, 38, 38, 0.31) 100%);

  opacity: 0.7;
}

.contentWrapper {
  position: relative;
  z-index: 1;
  width: 506px;
}

.subTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(179deg, #4caf50 20%, #2196f3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 39px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: var(--white-netral);
  margin-bottom: 20px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--grey-text);
  margin-bottom: 20px;
}
