.contactFormSection {
  height: 692px;
  background-color: var(--white-netral);
  padding: 0px 0px 40px;
}

.contactFormBg {
  height: 607px;
  background:
    linear-gradient(rgba(38, 38, 38, 0.75), rgba(38, 38, 38, 0.75)),
    url('/images/bg/bgContactForm.png') center/cover no-repeat;
  padding: 80px 0px 00px;
}

.contactFormWrapper {
  display: flex;
  gap: 80px;
}

.contactForm {
  border-bottom: 3px solid var(--secondary);
  border-radius: 10px;
  padding: 57px 48px;
  min-width: 600px;
  min-height: 572px;
  box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.15);
  background-color: var(--white-netral);
}

.contactFormContent {
  padding: 32px 0px 0px;
}

.contactFormSubtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(179deg, #4caf50 20%, #2196f3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.contactFormTitle {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 39px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: var(--white-netral);
  margin-bottom: 20px;
}

.contactFormText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--white-netral);

  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.contactFormText::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 54px;
  background-color: var(--border-divider);
}

.contactFormDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--grey-text);
  margin-bottom: 20px;
}
