.sectionServices {
  padding: 112px 0px;
}

.contentWrapper {
  display: flex;
  gap: 192px;
  margin-bottom: 72px;
  align-items: center;
}

.subTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(179deg, #4caf50 20%, #2196f3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 39px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: var(--primary);
  min-width: 512px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--text);
  position: relative;
}

.description::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: var(--secondary);
  bottom: -20px;
  left: 0;
}
