.subTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(179deg, #4caf50 20%, #2196f3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 39px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: var(--primary);
  margin-bottom: 20px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--text);
  margin-bottom: 34px;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactWrapper {
  display: flex;
  gap: 12px;
}

.wrapperIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--secondary);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.phoneIcon {
  fill: var(--white-netral);
  width: 22px;
  height: 18px;
}

.emailIcon {
  fill: var(--white-netral);
  width: 21px;
  height: 22px;
}

.chatIcon {
  fill: var(--white-netral);
  width: 22px;
  height: 19px;
}

.mapIcon {
  fill: var(--white-netral);
  width: 34px;
  height: 26px;
}

.timeIcon {
  fill: var(--white-netral);
  width: 30px;
  height: 30px;
}

.contactTitle {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--primary);
}

.contactDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--text);
}
