.swiper {
  width: 100%;
  padding-bottom: 40px !important;
}

.swiper :global(.swiper-pagination) {
  bottom: 0px !important;
}

.swiper-pagination-bullet-active {
  background: #4caf50;
}

.swiper :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background: var(--secondary);
}

.swiper :global(.swiper-button-prev) {
  left: -35px;
}

.swiper :global(.swiper-button-next) {
  right: -35px;
}

.swiper :global(.swiper-button-prev::after),
.swiper :global(.swiper-button-next::after) {
  font-size: 20px;
}

.swiper :global(.swiper-button-prev),
.swiper :global(.swiper-button-next) {
  color: var(--secondary);
}

.swiper :global(.swiper-pagination-bullet-active) {
  background: var(--secondary);
}
